<div style="padding-top: 5%">
  <img src="assets/iVot_logo.png" style="max-width: 12%;   margin-left: auto;
  margin-right: auto; 
   display: block;">
  
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- Add your login form here -->
      <form (ngSubmit)="SignUp(email.value, userPwd.value, 'ana')">
        <mat-form-field>
          <input matInput placeholder="Email Address"  name="email" required #email>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" name="password" required #userPwd>
        </mat-form-field>
        <button mat-raised-button style="position: relative;" color="primary" type="submit">Sign Up</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
